<settings>
	<setting propertyKey="@Properties.starline_API_user" title="@Strings.ServerUser">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
	<setting propertyKey="@Properties.starline_API_pass" title="@Strings.ServerPass">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
	<setting propertyKey="@Properties.starline_API_ID" title="@Strings.APP_ID">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
	<setting propertyKey="@Properties.starline_API_SECRET" title="@Strings.API_SECRET">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
</settings>